<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>MIOES | <%= restaurant_of_the_week.name%></title>
<link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/fonts/css/fontawesome-all.min.css">
<link rel=icon href=/app/icons/icon-72x72.png sizes="72x72" type="image/png">
<link rel=icon href=/app/icons/icon-192x192.png sizes="192x192" type="image/vnd.microsoft.icon">
<link rel=icon href=/app/icons/icon-128x128.png sizes="128x128 512x512 8192x8192 32768x32768">
<link rel=icon href=/app/icons/icon-192x192.png sizes="any" type="image/png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">

<div id="preloader"><div class="spinner-border color-highlight" role="status"><img id="imgLoaderContainer" src="/app/icons/preloader.gif" width="100px" height="100px"></div></div>

<div id="page">

    <%- include("footer.ejs", {qrCode: false, home: false, restaurants: true}) %>

    <div class="page-content">
    <script>function GoBackWithRefresh(event) {
    if ('referrer' in document) {
        window.location = document.referrer;
    } else {
        window.history.back();
    }
    }</script>
        <div class="card preload-img" data-src=<%= restaurant_of_the_week.img%> data-card-height="480">
            <div class="card-top m-3">
                <div class="notch-clear">
                    <a onclick="GoBackWithRefresh(); return false;" href="#" class="icon icon-xs bg-white color-black rounded-m"><i class="fa fa-angle-left"></i></a>
                </div>
            </div>
            <div class="card-bottom ms-5 mb-1">
                <h1 class="font-40 font-900 line-height-xl mt-4" style="margin-left:-5px ;">
                    <%= restaurant_of_the_week.name%>
                </h1>
                <p class="mb-1" id="address">
                    <i class="fa fa-map-marker font-11 me-2"></i>
                    <%= restaurant_of_the_week.address%>
                </p>
                <div class="d-flex pb-4">
                    <div class="align-self-center flex-grow-1">
                        <span class="font-11">
                            
                        </span>
                        <p class="mt-n2 mb-0">
                            <strong class="color-theme pe-2"><%= restaurant_of_the_week.rating%></strong>
                            <i class="fa fa-star color-yellow-dark"></i>
                            <i class="fa fa-star color-yellow-dark"></i>
                            <i class="fa fa-star color-yellow-dark"></i>
                            <i class="fa fa-star color-yellow-dark"></i>
                            <i class="fa fa-star color-yellow-dark"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-overlay bg-gradient-fade-small"></div>
        </div>

        <div class="card card-overflow card-style mt-n5">
            <div class="content">
                <p style="margin-bottom: 6px !important;">
                    <strong class="color-theme">Descripción</strong><br>
                   <%= restaurant_of_the_week.info%>
                </p>

                <div class="row mb-0">
                    <div class="col-4">
                        <span class="font-11">Comida</span>
                        <p class="mt-n2 mb-3">
                            <strong class="color-theme"><%= restaurant_of_the_week.food%></strong>
                        </p>
                    </div>
                    <div class="col-4">
                        <span class="font-11">Precio medio</span>
                        <p class="mt-n2 mb-3">
                            <strong class="color-theme"><%= restaurant_of_the_week.pricerange%></strong>
                        </p>
                    </div>
                    <div class="col-4">
                        <span class="font-11">Dietas especiales</span>
                        <p class="mt-n2 mb-3">
                            <strong class="color-theme"><%= restaurant_of_the_week.chef%></strong>
                        </p>
                    </div>

                </div>
                <a href="<%= link%>" class="btn btn-full btn-m font-900 text-uppercase rounded-sm shadow-l" style="background-color:<%=restaurant_of_the_week.color %>;">Ver la Carta</a>

            </div>
        </div>
        <div class="card card-overflow card-style mt-n5" style="margin-top: 5% !important;">
            <div class="content">
                <h1 style="margin-bottom: 6%;   border-bottom: 1px solid #000; line-height: 0.1em;margin: 10px 0 20px; text-align: center;"><span>Contacto</span></h1>
        <% if(restaurant_of_the_week.insta != null || restaurant_of_the_week.face != null || restaurant_of_the_week.phone != null){ %>
            <div style="display: flex; gap: 10%; justify-content: center; align-content: center; max-width: 50vw;margin-left: 20%;">
                <% if(restaurant_of_the_week.insta != null ||restaurant_of_the_week.insta != undefined){ %>
                <img style="width: 30px; height: 30px;" src="/images/icons/insta.png"></img><a href="https://www.instagram.com/<%= restaurant_of_the_week.insta%>" class="socialHandle">@<%= restaurant_of_the_week.insta%></a>
                <% } %>
                <% if(restaurant_of_the_week.face != null ||restaurant_of_the_week.face != undefined){ %>
                <img style="width: 30px; height: 30px;" src="/images/icons/face.png" ></img><a href="https://www.facebook.com/<%= restaurant_of_the_week.face%>" class="socialHandle">@<%= restaurant_of_the_week.face%></a>
                <% } %>
                <% if(restaurant_of_the_week.phone != null ||restaurant_of_the_week.phone != undefined){ %>
                <img style="width: 30px; height: 30px;" src="/images/icons/wa.png"></img><a href="tel:+34<%= restaurant_of_the_week.phone%>" class="socialHandle">+34<%= restaurant_of_the_week.phone%></a>
                <% } %>
            </div>
            <% } %>
            </div>
        </div>
        <script>
        var address = document.getElementById("address").innerText
        var mapsParsed = address.replace(/\s/g, "%20");
        
        var iframe = `<iframe scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" style="width: 100vw;height: 30vh;" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=${mapsParsed}&amp;t=p&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="520" height="400" frameborder="0"></iframe>`
        var container = document.querySelector(".page-content")
        container.innerHTML = container.innerHTML + iframe
        </script>
        



    </div>
    <!-- End of Page Content-->


<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/custom.js"></script>
</body>
